.font-poppins{
    font-family: 'Poppins', sans-serif !important;
}
.font-100{
    font-weight: 100 !important;
}
.font-200{
    font-weight: 200 !important;
}
.font-300{
    font-weight: 300 !important;
}
.font-400{
    font-weight: 400 !important;
}
.font-500{
    font-weight: 500 !important;
}
.font-600{
    font-weight: 600 !important;
}
.font-700{
    font-weight: 700 !important;
}